/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/
/******************************
 Global CSS for ALL menu types
******************************/
/* line 19, ../sass/nice_menus.scss */
ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  /* border-top: 1px solid #ccc; */
}

/* line 27, ../sass/nice_menus.scss */
ul.nice-menu {
  border-bottom: 1px solid black;
}
/* line 30, ../sass/nice_menus.scss */
ul.nice-menu li {
  float: left;
  /* LTR */
  background-color: white;
}

/* line 40, ../sass/nice_menus.scss */
ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 47, ../sass/nice_menus.scss */
ul.nice-menu a :visited {
  color: #333333;
}
/* line 51, ../sass/nice_menus.scss */
ul.nice-menu a:hover {
  text-decoration: underline;
}
/* line 55, ../sass/nice_menus.scss */
ul.nice-menu a .active {
  color: #333333;
}

/* line 60, ../sass/nice_menus.scss */
ul.nice-menu span {
  color: #333333;
  font-weight: bold;
  display: block;
  padding: 0.3em 5px 0.3em 5px;
  font-size: 1.2em;
}

/* line 68, ../sass/nice_menus.scss */
ul.nice-menu ul {
  top: 1.8em;
  left: -1px;
  /* LTR */
  border: 1px solid silver;
  margin-right: 0;
  /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 76, ../sass/nice_menus.scss */
ul.nice-menu ul li {
  white-space: nowrap;
}

/******************************
 VERTICAL (left/right) menus
******************************/
/* This is the default width of all vertical menus. */
/* line 87, ../sass/nice_menus.scss */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
/* line 92, ../sass/nice_menus.scss */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

/* line 98, ../sass/nice_menus.scss */
ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

/* line 105, ../sass/nice_menus.scss */
ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #eeeeee url(arrow-right.png) right center no-repeat;
}

/* line 110, ../sass/nice_menus.scss */
ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #cccccc url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
/* line 115, ../sass/nice_menus.scss */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

/* line 121, ../sass/nice_menus.scss */
ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

/* line 128, ../sass/nice_menus.scss */
ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eeeeee url(arrow-left.png) left center no-repeat;
}

/* line 133, ../sass/nice_menus.scss */
ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #cccccc url(arrow-left.png) left center no-repeat;
}

/* line 137, ../sass/nice_menus.scss */
ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/
/* line 145, ../sass/nice_menus.scss */
ul.nice-menu-down {
  float: left;
  /* LTR */
  border: 0;
  width: 100%;
}

/* line 151, ../sass/nice_menus.scss */
ul.nice-menu-down li {
  /* border-top: 1px solid #ccc; */
}

/* line 157, ../sass/nice_menus.scss */
ul.nice-menu-down li li {
  border-top: 0;
}

/* line 161, ../sass/nice_menus.scss */
ul.nice-menu-down ul {
  left: 0;
  /* LTR */
}

/* line 165, ../sass/nice_menus.scss */
ul.nice-menu-down ul li {
  clear: both;
}
/* line 168, ../sass/nice_menus.scss */
ul.nice-menu-down ul li a, ul.nice-menu-down ul li span {
  font-size: 1em;
  padding: 0.1em 5px 0.1em 5px;
  font-weight: normal;
}

/* line 175, ../sass/nice_menus.scss */
ul.nice-menu-down li ul li ul {
  left: 12.5em;
  /* LTR */
  top: -1px;
}

/* line 180, ../sass/nice_menus.scss */
ul.nice-menu-down .menuparent a {
  padding-right: 15px;
  /* LTR */
}

/* line 184, ../sass/nice_menus.scss */
ul.nice-menu-down .menuparent span {
  padding-right: 15px;
  /* LTR */
}

/* line 188, ../sass/nice_menus.scss */
ul.nice-menu-down li.menuparent {
  background: white url(arrow-down.png) right center no-repeat;
  /* LTR */
}

/* line 192, ../sass/nice_menus.scss */
ul.nice-menu-down li.menuparent:hover {
  background: white url(arrow-down.png) right center no-repeat;
  /* LTR */
}

/* line 196, ../sass/nice_menus.scss */
ul.nice-menu-down li li.menuparent {
  background: white url(arrow-right.png) right center no-repeat;
  /* LTR */
}

/* line 200, ../sass/nice_menus.scss */
ul.nice-menu-down li li.menuparent:hover {
  background: white url(arrow-right.png) right center no-repeat;
  /* LTR */
}
